.enchant {
     margin: 10px;
}

.enchant-buy-form {
     padding: 10px;
     margin: 10px;
     box-shadow: 0 3px 10px rgba(255, 0, 255, 0.2);
     flex: 1;
     min-width: 250px;
}

.profit {
     box-shadow: 0 0px 10px rgba(0, 255, 0, 1);
}

.loss {
     box-shadow: 0 0px 10px rgba(255, 0, 0, 1);
}